.topNavContent .firNav>a:hover {
    border-bottom: 3px solid #db214c;
}

.topNavContent .secNav:hover {
    border-top: 3px solid #db214c;
}

.topNavContent .firNav a:hover {
    color: #db214c;
}

.banner {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.joinContent {
    width: 1200px;
    margin: 0 auto;
}

.backIndex {
    width: 1200px;
    height: 40px;
    padding: 20px 0px;
    margin: 0 auto;
}

.backIndex>a {
    height: 40px;
    font-size: 14px;
}

.backIndex a:nth-child(1)>img {
    width: 13px;
    height: 13px;
}

.backIndex a:last-child {
    color: #db214c;
}

.triangle {
    width: 4px;
    height: 7px;
    padding: 2px 2px 2px 6px;
}

.contactText {
    width: 1200px;
    margin: 0 auto;
}

.contactText>p {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    padding: 15px 0px 20px 0px;
}

.contactInclude {
    height: 3px;
    width: 100%;
    background-color: #e5e5e5;
}

.contactBar {
    width: 1200px;
    height: 3px;
    margin: 0 auto;
}

.contactBar>.contactBarInner {
    width: 75px;
    height: 100%;
    background-color: #db214c;
}

.joinContent {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0px 30px 0px;
}

.joinCard {
    margin-top: 25px;
    padding-top: 30px;
    padding-left: 25px;
    -moz-box-shadow: 1px 2px 13px 0px #ededed;
    -webkit-box-shadow: 1px 2px 13px 0px #ededed;
    box-shadow: 1px 2px 13px 0px #ededed;
    border: 1px solid #ededed;

}

.lookJob {
    position: relative;
    overflow: hidden;
}

.unfold p {
    font-size: 16px;
    color: #db214c;
    height: 55px;
    text-align: center;
    line-height: 55px;
}

.workContent>p .workContent .workTitle {
    width: 600px;
    height: 80px;
    float: left;
}

.cardTitle {
    height: 80px;
}