* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.clearFix::after {
    content: '';
    clear: both;
    display: block;
}

.i-h-nav {
    width: 1200px;
    height: 90px;
    margin: 0 auto;
}

.i-h-logo {
    float: left;
    width: 335px;
    height: 90px;
}

.i-h-logo>img {
    width: 170px;
    height: 90px;
}

.i-h-navContent {
    float: left;
    text-align: center;
    line-height: 90px;
    width: 700px;
    height: 90px;
}

.i-h-navContent ul {
    float: right;
}

.i-h-navContent ul>li {
    float: left;
    width: 100px;
    margin-right: 15px;
}

.i-h-navContent ul>li>a {
    color: #ffffff;
    font-size: 20px;
}

.i-h-navContent ul>li>a:hover {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 3px solid #fff;
}


.i-h-navContent ul>li:last-child {
    margin-right: 0px;
}

.i-h-switch {
    float: right;
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-size: 18px;
    width: 155px;
    height: 90px;
}

/* 底部 */
footer {
    width: 100%;
    background: #363435;
}

.i-f-content {
    width: 1200px;
    margin: 0 auto;
}

.i-f-contentLinkText {
    margin-left: 135px;
    padding: 100px 0px 25px 0px;
    width: 580px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.i-f-contentLink {
    flex: 1;
}

.i-f-contentLink>ul>li {
    line-height: 30px;
}

.i-f-contentLink>ul>li:first-child>a {
    font-size: 16px;
    font-weight: bold;
    color: #b5b5b5;
}

.i-f-contentLink>ul>li>a {
    font-size: 14px;
    color: #b5b5b5;
}

.i-f-service {
    float: left;
    padding: 100px 0px 25px 0px;
    width: 320px;
    height: 120px;
    margin-left: 80px;
}

.i-f-serviceImg {
    width: 42px;
    height: 65px;
    float: left;
}

.i-f-serviceImg>img {
    width: 42px;
    height: 65px;
}

.i-f-serviceText {
    float: left;
    margin-left: 10px;
    width: 200px;
    line-height: 30px;
}

.i-f-mail {
    float: left;
    margin-top: 15px;
    width: 115px;
    height: 40px;
    border-radius: 5px;
    background-color: #514e50;
}

.i-f-mail>img {
    padding: 12px 5px 10px 15px;
    width: 24px;
    height: 18px;
    float: left;
}

.i-f-mail>p {
    padding: 12px 5px;
    font-size: 14px;
    color: #fffefe;
}

.i-f-copyright {
    float: left;
    width: 1200px;
    height: 50px;
    margin: 50px auto 30px auto;
    text-align: center;
    line-height: 25px;
}

.i-f-all {
    height: 300px;
    border-bottom: 1px solid #212121;
}